/* navbar */

body{ background-color: black;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li { 
    float: left; 
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }
  
  li a:hover {
    font-size: 150%;
    
  }
  li {
    border-right: 1px solid black;
  }
  
  li:only-child {
    border-right: none;
  }
  li :last-child{
    border-right: none;
  }
  ul {
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    }

li.dropdown {
    display: inline-block;
  } 
  .nass { 
    float:right ;} 
    /* back ground image*/

    
  .Pic {
     width: 100%;
    height: 50% ;
  }
  .p{ color: rgb(240, 230, 230); font-family: "Times New Roman", Times, serif; font-size: 60px; margin: -425px 0px 0px 50px;}
.p2{color: white; margin: -10px 0px 0px 70px;  font-family: "Times New Roman", Times, serif;
}
 /* Flottes et reservation*/
.h1{ margin: 370px 0px 0px 525px ;color: white; font-family: "Times New Roman", Times, serif;ox-sizing: border-box;
  width: 150px;
  height: 70px;
  padding: 10px;  
  border: 5px solid rgb(228, 94, 94); margin-top: 345px;}

  .flex-container{ color: white;display: flex; 
    background-color:black;justify-content: center ;margin-top: -330px;}
.date { margin-left: 177px;}
.button {margin-left: 165px;}
#f2{
  width: 496px;
}
/* Nos service*/
.h3 {  margin: 138px 10px 0px 550px ;color: white; font-family: "Times New Roman", Times, serif;font-size:30px;ox-sizing: border-box;
  width: 150px;
  height: 30px;
  padding: 10px;  
  border: 5px solid rgb(228, 98, 98);background-color: rgb(0, 0, 0);}
.flex-container2{ color: white;display: flex; 
  background-color:black;justify-content: center ;margin-top: -430px;}
  
  .imgphone{ margin-top: 20px; width: 301px;height: 320px;color: white;}
  
  .panne{ width: 301px;height: 320px; margin-top: 20px; }
.sos{width: 301px;height: 320px; margin-top: 20px; }
#datemax{
  width: 120px;
}
.Dépannage{background-color: rgb(228, 97, 97);
  color: #000; border:rgba(247, 247, 247, 0.568) solid;
  margin-left: 100px; margin-top: 10px;}
.Assistanttéléphone{ background-color: rgb(228, 93, 93);color: #000; 
  border:rgba(247, 247, 247, 0.568) solid;margin-left: 70px; margin-top: 10px;}
.nossos{margin-left: 110px; margin-top: 10px; background-color: rgb(228, 93, 93);color: #000; 
  border:rgba(247, 247, 247, 0.568) solid;}
  .back{background-color: rgb(161, 116, 116);}
  
.pic2 {
    width: 1274px;
   height: 10 px; margin-top: -1px;
 }

.h4{color: white; font-family: "Times New Roman", Times, serif;font-size:30px;ox-sizing: border-box;
  width: 205px;
  height: 30px;
  padding: 10px;  
  border: 5px solid rgb(228, 98, 98);background-color: rgb(0, 0, 0); margin-left: 520px;}

.pic3{
  width: 1274px;
 height: 10 px; margin-top: -1px;
}

  .button2{margin-left: 180px;}
  .flex-container4{ color: white;
    display: flex; 
    background-color:black;
    justify-content: center ;
   }
   .imbo{ width: 301px;height: 320px;}
   #h5{ margin: 58px 10px 0px 550px ;color: white; font-family: "Times New Roman", Times, serif;font-size:30px;ox-sizing: border-box;
    width: 150px;
    height: 30px;
    padding: 10px;  
    border: 5px solid rgb(228, 98, 98);background-color: rgb(0, 0, 0);}
    .flex-container6{ color: white;
      display: flex; 
      background-color:black;
      justify-content: center ;margin-top: 40px;margin-right: 60px; justify-content: space-around;
     }
     .imbo2{ width: 301px;height: 320px;}
     .con1{ margin-left: 200px; color: white;}
     .con2{ margin-left: 560px; color: white;margin-top: -40px;}
     .con3{ margin-left: 960px; color: white;margin-top: -35px;}
     .footer{color: white;margin-top: 50px;margin-left: 590px;}