body{ background-color: black;}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li { 
    float: left; 
    
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 
  }
  
  li a:hover {
    font-size: 150%;
    
  }
  li {
    border-right: 1px solid black;
  }
  
  li:only-child {
    border-right: none;
  }
  li :last-child{
    border-right: none;
  }
  ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0; 
    
    
  }

li.dropdown {
    display: inline-block;
  }
  .nass { 
    float:right ;}
  .Pic {
     width: 100%;
    height: 50% ;
  }
  .p{ color: rgb(240, 230, 230); font-family: "Times New Roman", Times, serif; font-size: 60px; margin: -425px 0px 0px 50px;}
.p2{color: white; margin: -10px 0px 0px 70px;  font-family: "Times New Roman", Times, serif;
}
.class{ color: white; margin:  428px 700px  0px ;background-color: rgb(179, 243, 245);} 
.button { background-color: white ;margin-left: 85px;margin-top: 10px ;}
.class2{ margin-left:  300px;margin-top: -272px;width: 100px;height: 250px;}
.h2{ color: white;margin-left: 15px;}
.p3{ color: white;}








